.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  height: 17em;
  margin: 0 auto;
  margin-top: 3em;
  

  :nth-child(n+5):nth-child(-n+13){
    height: 200px;
    width: 200px;
  }
}