.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  height: 17em;
  margin: 0 auto;
  margin-top: 3em;

  :nth-child(n+5):nth-child(-n+16) {
    // grid-row: 2;
    height: 160px;
    width: 160px;
    margin-left: 65px;
  }
}

@media (max-width: 1170px) {
  .card-list {
    display: grid;
    display: none;
  }
}