* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 2.5;
}

.container {
  margin: auto;
  max-width: 1170px;
}

.footer {
  background-color: #24262b;
  padding: 70px 0;
}

.footer-col {
  padding: 0 5px;
  width: 25%;

  h4 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
  }

  h4::before {
    box-sizing: border-box;
    content: '';
    background-color: #9a1c4a;
    bottom: -10px;
    left: 0;
    height: 3px;
    position: absolute;
    width: 70px;
  }

  ul li a:hover {
    color: #ffffff;
    padding-left: 10px;
  }
}

ul {
  list-style: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}