.register-container {
  position: relative;
  z-index: 2;

  .form-group {
    line-height: 60px;
    z-index: 1000;

    .btn {
      font-size: 20px;
      height: 40px;
      width: 85px;
    }
  
    .form-control {
      border-radius: 3px;
      height: 45px;
      font-size: 20px;
      width: 500px;
    }
  }
}

