.register-container {
  position: relative;
  z-index: 2;

  .form-group {
    line-height: 60px;
    z-index: 1000;

    .btn {
      border-radius: 3px;
      background: rgb(238, 75, 75);
      font-size: 20px;
      margin-top: 20px;
      height: 55px;
      width: 100px;
    }
  
    .form-control {
      border-radius: 3px;
      height: 45px;
      font-size: 20px;
      width: 500px;
    }
  }
}

