.subscribe-container {
  // background-image: url('../../img/blueConnector.jpg');
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: bottom center;
  // color: #fff;
  // display: flex;
  height: 100vh;
  justify-content: center;
  padding-top: 100px;
  // position: relative;
  // text-align: center;
  // z-index: -2;
  // filter: blur(0px);
}

// .card-list {
//   :nth-child(n+17):nth-child(-n+21) {
//     height: 100px;
//     width: 100px;
//   }
// }
